body {
    background-color: darksalmon;
}

#score {
    font-size: 30px;
    margin-left: 150px;
}

#time {
    font-size: 30px;
    float: right;
    margin-right: 150px;
}

#sketch_name {
    color: darkmagenta;
}
